<section = "round_scores">
<h2>Round Scores:</h2>
<ul>
  <% @game.players.order('player_num').each do |playa| %>
    <li><%= playa.name %>: <%= playa.score %></li>
  <% end %>
</ul>
</section>

<section = "game_scores">
  <h2>Game Scores:</h2>
<ul>
  <% @game.players.order('player_num').each do |playa| %>
    <li><%= playa.name %>: <%= playa.game_score %></li>
  <% end %>
</ul>
</section>
<a class="btn btn-sm btn-info" href="/new_round">Begin next round!</a>
