body {
  background-color: #B5AACF;
  font-family: 'Lato', sans-serif;
}

header {
  height: auto;
  border-bottom: 1px dashed #BFA6CC;
  text-align: center;
}

footer {
  clear: both;
  height: auto;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #BFA6CC;
  text-align: right;
}

footer a {
  margin: 20px;
}

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.cards figure {
  display: inline-block;
  margin: 10px;
}

.cards figcaption {
  text-align: center;
}

select {
  margin: 0 5px 15px 5px;
}

.container {
  background-color: #FFE4CC;
  width: 80%;
  margin: 1em auto;
  padding: 15px;
  border: 3px solid gray;
  border-radius: 15px;
}

.form-label {
  float: left;
  margin-right: 10px;
}

.form-control {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.oil_spill {
  width: 100%;
  height: 0px;
  background: black;
  z-index: 2;

  -webkit-animation: oil_spill 10s;
  -webkit-animation-fill-mode: forwards;
  animation: oil_spill 10s;
  animation-fil-mode: forwards;
}


@-webkit-keyframes oil_spill {
  from {height: 0px;}
  to {height: 300px;}
}

keyframes oil_spill {
  from {height: 0px;}
  to {height: 300px;}
}

.scared_fish {
  background-image: url("/img/scared_fish.jpg");
  height: 300px;
}

.cards img {
  height: 200px;
  width: 150px;
  margin: 5px;
}

.button-go {
  margin-top: 20px;
}

#score {
  margin: 20px auto;
}

#gameover {
  font-size: 36px;
  color: blue;
}

.btn-custom {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

.ctr {
  text-align: center;
}

#pair {
  margin: 20px;
}

#ask {
  margin: 20px;
}

/*.btn {
  display: inline;
  float: left;
  margin-top: 20px;
}*/


/*input, .form-control {
  border: 0;
  outline: 0;
  box-shadow: none !important;
  border-bottom: 1px solid #d0dad8;
  border-radius: 0px;
  background: transparent;
  display: inline-block;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-bottom-color: #0e745c;
  box-shadow: 0 2px 1px -1px #d0dad8;
}

hr {
  opacity: 0;
  clear: both;
}*/
